@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import "./styles/header/header.css";
@import "./styles/main/main.css";
@import "./styles/main/home.css";
@import "./styles/main/about.css";
@import "./styles/main/skills.css";
@import "./styles/main/projects.css";
@import "./styles/main/contact.css";
@import "./styles/main/projectDetail.css";

:root {
    --cta-light: #ff6600;
    --cta-dark: #923100;
    --fs-title: 1.3rem;
    --fs-title-s: 1.1rem;
    --fs-subTitle: 1.1rem;
    --fs-subTitle-s: 0.9rem;
    --fs-paragraph: 1rem;
    --fs-paragraph-s: 0.8rem;
    --transition-fast: 300ms;
    --transition-slow: 700ms;
    --ease: ease-out;
    --line-height: 1.5rem;
    --line-height-s: 1.2rem;
}

.dark-mode {
    --bg-header: #242424;
    --bg-main: #272727;
    --bg-section: #151515;
    --text-color: #f8f8f8;
    --switch-bg: #caedff;
    --switch-btn-bg: #55b8e5;
}

.light-mode {
    --bg-header: #dddddd;
    --bg-main: #cccccc;
    --text-color: #141414;
    --bg-section: #eaeaea;
    --switch-bg: #f8ffa7;
    --switch-btn-bg: #eaac00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    transition: var(--transition-fast) var(--ease);
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: var(--text-color);
}

h1 {
    font-family: "Cinzel", serif;
    font-size: var(--fs-title);
    font-weight: 500;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: var(--fs-subTitle);
}

p {
    font-size: var(--fs-paragraph);
    line-height: var(--line-height);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    outline: none;
    border: none;
    font-family: inherit;
    color: var(--text-color);
    padding: 0.5rem 1.5rem;
    width: 120px;
    cursor: pointer;
    font-weight: 700;
    background-color: transparent;
    border-radius: 5px;
    z-index: 100;
    position: relative;
}

button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--cta-light), var(--cta-dark));
    border-radius: inherit;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 200ms var(--ease);
    z-index: -100;
}

button:hover::before {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
}

button::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    outline: 2px solid var(--cta-light);
    top: 0;
    left: 0;
    transform: scale(1.3);
    opacity: 0;
    visibility: hidden;
    border-radius: inherit;
    transition: var(--transition-fast) var(--ease);
}

button:hover::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.element--hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
}

@media (max-width: 1350px) {
    h1 {
        font-size: var(--fs-title-s);
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: var(--fs-subTitle-s);
    }

    p {
        font-size: var(--fs-paragraph-s);
        line-height: var(--line-height-s);
    }

    a {
        font-size: var(--fs-paragraph-s);
    }
}

@media (max-width: 1100px) {
    button {
        width: 100px;
        padding: 0.3rem 1.3rem;
    }
}
