@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import "./styles/header.css";

:root{
  --gradient-cta-light: #FF6600;
  --gradient-cta-dark: #6c2400;
}

.dark-mode{
  --bg-light: #242424;
  --bg-dark: #151515;
  --text-color: #f8f8f8;
  --gradient-light: #ffffff;
  --gradient-dark: #b4b4b4;
  --switch-bg: #caedff;
  --switch-btn-bg: #55b8e5;
}

.light-mode{
  --bg-light: #ececec;
  --switch-bg: #fffbca;
  --switch-btn-bg: #eaac00;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: var(--text-color);
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--bg-light);
  transition: 200ms ease-out;
  overflow: hidden;
}

h1{
  font-family: 'Cinzel', serif;
}

h2,h3,h4,h5,h6{
  font-family: 'Comfortaa', cursive;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}