@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import "./styles/header/header.css";
@import "./styles/main/main.css";
@import "./styles/main/home.css";
@import "./styles/main/about.css";
@import "./styles/main/skills.css";
@import "./styles/main/projects.css";
@import "./styles/main/contact.css";
@import "./styles/main/projectDetail.css";

:root {
    --cta-light: #ff6600;
    --cta-dark: #923100;
    --fs-title: 1.2rem;
    --fs-subTitle: 1rem;
    --fs-paragraph: 0.938rem;

    --transition-fast: 200ms;
    --transition-slow: 700ms;
    --ease : ease-out;
}

.dark-mode {
    --bg-header: #242424;
    --bg-main: #272727;
    --bg-section: #151515;
    --text-color: #f8f8f8;
    --switch-bg: #caedff;
    --switch-btn-bg: #55b8e5;
}

.light-mode {
    --bg-header:#dddddd;
    --bg-main: #d1d1d1; 
    --text-color: #141414;
    --bg-section: #eaeaea;
    --switch-bg: #f8ffa7;
    --switch-btn-bg: #eaac00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    transition: 200ms var(--ease);
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: var(--text-color);
}

h1 {
    font-family: "Cinzel", serif;
    font-size: var(--fs-title);
    font-weight: 500; 
}

h2,
h3,
h4,
h5,
h6 {
    font-size: var(--fs-title);
}

p {
    font-size: var(--fs-paragraph);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    outline: none;
    border: none;
    font-family: inherit;
}

.element--hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
}
