.header {
    width: 100%;
    height: 10vh;
    padding: 2rem;
}

.header__nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__brand {
    font-family: "Cinzel", serif;
    user-select: none;
    cursor: pointer;
}

.header__ul {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.header__a {
    position: relative;
    cursor: pointer;
}

.header__a:is(:not(.header__a--active, .header__brand))::before {
    position: absolute;
    content: "";
    width: 150%;
    height: 2px;
    left: -25%;
    bottom: -35%;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-30%);
    background: linear-gradient(to right, var(--cta-light), var(--cta-dark));
    transition: 150ms var(--ease);
}

.header__a:hover::before {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
}

.header__a--active {
    position: relative;
}

.header__a--active::before {
    position: absolute;
    content: "";
    width: 150%;
    height: 2px;
    left: -25%;
    bottom: -35%;
    border-radius: 5px;
    background: linear-gradient(to right, var(--cta-light), var(--cta-dark));
    transition: 150ms var(--ease);
}

.header__switch {
    width: 50px;
    height: 20px;
    border-radius: 15px;
    background: var(--switch-bg);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.2rem;
}

.header__switch:hover {
    cursor: pointer;
}

.header__btn-switch {
    width: 18px;
    height: 18px;
    background-color: var(--switch-btn-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms var(--ease);
}

.header__btn-switch--light {
    transform: translateX(150%);
}

.header__img-switch {
    display: none;
    transition: 200ms var(--ease);
}

.header__img-switch--active {
    display: block;
    filter: invert(99%) sepia(4%) saturate(18%) hue-rotate(155deg)
        brightness(106%) contrast(100%);
    width: 70%;
    height: 70%;
}
