.about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__content{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.about__img{
    width: 200px;
    height: 200px;
    border: 2px solid blue;
}

