.home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__brand{
    width: 35%;
    transition: 600ms var(--ease);
}

.home__binaryCode{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 150px;
}
