.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.skills__content {
    display: flex;
    gap: 6rem;
}

.skills__category {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skills__categoryTitle {
    font-size: var(--fs-subTitle);
}

.skills__item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.skills__itemIcon {
    width: 13px;
    height: 13px;
    object-fit: cover;
    border-radius: 50%;
}
