.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: var(--transition-slow) var(--ease);
}

.skills__title {
    align-self: center;
}

.skills__categories {
    display: flex;
    justify-content: space-between;
}

.skills__category {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skills__item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.skills__itemIcon {
    width: 13px;
    height: 13px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 1350px) {
    .skills__content {
        width: 70%;
    }
}
